
@{
    ViewData["Title"] = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="error-page text-center">
                    <div class="image mb-5">
                        <img src="/home/images/error_404.png" class="img-fluid" alt="img">
                    </div>
                    <h2 class="title">Page Not Found</h2>
                    <p>Sorry The Page You Are Looking For Does Not Exist</p>
                    <a href="~/Home" class="thm-btn thm-bg-color-one">Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</section>