<footer class="footer section-padding thm-bg-color-four">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="ft_widgets">
                    <div class="ft_logo">
                        <img src="/home/images/ft_logo.png" alt="logo" class="image-fit-contain">
                    </div>
                    <ul class="ft_contact ft_menu">
                        <li>
                            <a href="#">
                                <i class="fas fa-phone-volume"></i>
                                0352344567
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                                <span class="__cf_email__" data-cfemail="94f1ecf5f9e4f8f1d4f1ecf5f9e4f8f1baf7fbf9">congtysanxuatmayvietnam@gmail.com</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-map-marker-alt"></i>
                                Nam Từ Liêm - Hà Nội
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="ft_widgets">
                    <h5 class="ft_title">Useful Links</h5>
                    <ul class="ft_menu">
                        <li>
                            <a href="/Home">Home</a>
                        </li>
                        <li>
                            <a href="/About">About Us</a>
                        </li>
                        <li>
                            <a href="/Products">Products</a>
                        </li>
                        <li>
                            <a href="/Contact">Contact Us</a>
                        </li>
                       
                    </ul>
                </div>
            </div>
            
           
        </div>
    </div>
</footer>
