
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mediscare - Medical Supplies Shop HTML5 Template | Homepage</title>
    <link rel="icon" href="favicon.ico">

    <link href="/home/css/plugins/bootstrap.min.css" rel="stylesheet">
    <link href="/home/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="/home/fonts/bs-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/home/css/plugins/slick.css" rel="stylesheet">
    <link href="/home/css/style.css" rel="stylesheet">
    <link href="/home/css/responsive.css" rel="stylesheet">
</head>
<body>

    <!--start header-->
    @Html.Partial("_LayoutHeaderPartialView")
    <!--end header-->

    @RenderBody()

    <!--start footer-->
    @Html.Partial("_LayoutFooterPartialView")
    <!--end footer-->

    <a href="#" data-target="html" class="back-to-top ft-sticky">
        <i class="fal fa-chevron-up"></i>
    </a>

    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/home/js/plugins/jquery-3.6.0.min.js"></script>
    <script src="/home/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="/home/js/plugins/slick.min.js"></script>
    <script src="/home/js/plugins/jquery.countdown.min.js"></script>
    <script src="/home/js/plugins/jquery.counterup.min.js"></script>
    <script src="/home/js/plugins/jquery.inview.min.js"></script>
    <script src="/home/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>