
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-bg section-padding subheader" style="background-image: url(/home/images/subheader.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Quote Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quote Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Form Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="sigma_box cta_form">
                    <h1>Feedback Successfully</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
