
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="section-bg section-padding subheader" style="background-image: url(/home/images/subheader.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="page-title">Contact Us</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="contact_box">
                    <div class="icon">
                        <i class="bi-geo-alt-fill"></i>
                    </div>
                
                        <p class="text">Nam Từ Liêm - Hà Nội</p>

                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact_box">
                    <div class="icon">
                        <i class="bi-telephone-fill"></i>
                    </div>
                   
                        <a class="text">0352344567</a>
                        

                    }

                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="contact_box">
                    <div class="icon">
                        <i class="bi-envelope"></i>
                    </div>
                   
                        <a href="https://themes.codezion.com/cdn-cgi/l/email-protection#91f4e9f0fce1fdf4d1f4e9f0fce1fdf4bff2fefc" class="text"><span class="__cf_email__" data-cfemail="a1c4d9c0ccd1cdc4e1c4d9c0ccd1cdc48fc2cecc">congtysanxuatmayvietnam@gmail.com</span></a>
                       
                   
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section pt-0">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.5056482171144!2d73.71688411431217!3d21.838023365035575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39601d55e43af21f%3A0xb8e23c01a1f6eb18!2sStatue%20of%20Unity!5e0!3m2!1sen!2sin!4v1639550284244!5m2!1sen!2sin" class="border-0 w-100 relative div" id="map"></iframe>
                    
                </div>
</div>

<section class="section-padding thm-bg-color-light">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-sm-6">
                <div class="htw-block">
                    <div class="icon">
                        <i class="fal fa-truck"></i>
                    </div>
                    <div class="text">
                        <h6 class="title">Free Shipping</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="htw-block">
                    <div class="icon">
                        <i class="fal fa-shopping-bag"></i>
                    </div>
                    <div class="text">
                        <h6 class="title">100% Secure Payment</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="htw-block">
                    <div class="icon">
                        <i class="fal fa-headphones-alt"></i>
                    </div>
                    <div class="text">
                        <h6 class="title">Great Support 24x7</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="htw-block">
                    <div class="icon">
                        <i class="fal fa-cube"></i>
                    </div>
                    <div class="text">
                        <h6 class="title">Money - Back Guarantee</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>







<a href="#" data-target="html" class="back-to-top ft-sticky">
    <i class="fal fa-chevron-up"></i>
</a>




